<section class="msgs-wrapper">
  <section class="msg-group" ng-repeat="msgGroup in msgGroups | orderBy:['date', 'time']">
    <ul class="msgs-list  | orderBy:['date', 'time']">
      <li ng-repeat="msg in msgGroup.msgs">
        {{msg.date}}, {{msg.time}} - {{msg.text}}
      </li>
    </ul>
    <div class="author-info">
      <img ng-src="msgGroup.author.avatar" class="avatar">
      <span class="author-name">{{msgGroup.author.username}}</span>
    </div>
  </section>
</section>

<form class="chat-input-wrapper form-inline">
  <input type="text" ng-model="newMsgText">
  <!-- button would normally perform a POST request, but we will prevent that and
       let ChatCtrl take over -->
  <button class="send-btn" type="button" ng-click="sendMsg()">Send</button>
</form>
